<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position %>
  </p>

  <p>
    <strong>Office:</strong>
    <%= employee.office %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= employee.age %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= employee.start_date %>
  </p>

  <p>
    <%= link_to "Show this employee", employee %>
  </p>
</div>
